body{
	margin:0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-image: url(image/fondlight.jpg);
	background-size: cover;

}
h1 {
	padding-left: 500px;
	color: white;
	text-shadow: -2px 0 black, 0 2px black,
      2px 0 black, 0 -2px black;
}
img{
	width: 560px;
	height:315px;

}
#image{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
a{
	padding-left: 500px;
	color: black;
	text-decoration: none;
}